{% extends "base.html" %}
{% block content %}

<div class="container">
  <form method="POST">
    <h5>Documents for last {{daysBack}} days</h5>
    {{ form.csrf_token }} 
    &nbsp;&nbsp;{{form.days_back.label}} {{ form.days_back(size=20) }}
    &nbsp;&nbsp;{{ form.submit() }}
  </form>
  <br/>
  <div class="d-flex flex-wrap overflow-auto" style="max-height: 500px;">
    {% for r in result %}
    <div class="card m-2" style="width: 18rem; padding-top: 1rem;">
      <img class="card-img-top mx-auto d-block" style="max-width:200px; max-height:300px" src="{{ r['pg_url'] }}"/>
      <div class="card-body">
        <h5 class="card-title">{{ r['sf_path'] }}</h5>
        <a href="/DocsApp/pages/{{ r['sf_id'] }}" class="card-text">{{ r['sf_page_count'] }} page(s)</a> &nbsp;&nbsp; {{ r['ups'] }}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
