{% extends "base.html" %}
{% block content %}



<div class="container">
  <div class="row">
    <form method="POST">
      <h5>Document Details</h5>
      {{ form.csrf_token }} 
      {{form.dc_name.label}} {{ form.dc_name(list="dd", autocomplete="off") }}
      &nbsp;&nbsp;{{form.dc_date.label}} {{ form.dc_date() }}
      &nbsp;&nbsp;{{ form.submit() }}
      <datalist id="dd">
        {% for resp in dd %}
          <option value="{{ resp }}">
          {% endfor %}
      </datalist>
    </form>
  </div>
  <div class="row">
    <div class="d-flex flex-wrap overflow-auto" style="max-height: 500px;">
        {% for r in pages %}
        <div class="card m-2" style="width: 18rem; padding-top: 1rem;">
        <img class="card-img-top mx-auto d-block" style="max-width:200px; max-height:300px" src="{{ r['pg_url'] }}"/>
        <div class="card-body">
            <h5 class="card-title">{{ r['pg_path'] }}</h5>
            <a class="card-text" target="_blank" href="{{ r['pg_url'] }}">View in Full</a>
        </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}