{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="d-flex flex-wrap overflow-auto" style="max-height: 500px;">
    {% for r in result %}
    <div class="card m-2" style="width: 18rem; padding-top: 1rem;">
      <div class="card-body">
        <h5 class="card-title">{{ r['dc_name'] }}</h5>
        <p class="card-text">{{ r['dc_date'] }}</p>
        <a href="/DocsApp/documents/details/{{ r['dc_id'] }}"  class="card-text">Details</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}